<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-11">
            <div class="text-center">
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/andhrapardeshcropdetail/show">
                    Andhra Pradesh </a>
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/assamcropdetail/show">
                    Assam  </a>
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/biharcropdetail/show">
                    Bihar  </a>
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/gujaratcropdetail/show">
                    Gujarat  </a>
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/haryanacropdetail/show">
                    Harayana  </a>
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/karnatakacropdetail/show">
                    Karnataka  </a>
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/maydhyapardeshcropdetail/show">
                    Maydhya Pardesh  </a>
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/punjabcropdetail/show">
                    Punjab  </a>
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/upcropdetail/show">
                    UP  </a>
                <a class="btn  btn-md btn-block " style="background-color: #440a67; color: white;" href="/westbengalcropdetail/show">
                    West Bengal  </a>
            </div>
        </div>
    </div>
</div>